.services {
    height: 100vh;
    width: 100%;
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
}

.services-content {
    max-width: 80rem;
    margin: 0 auto 0 auto;
}

.services-content h1 {
    position: relative;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 70px;
}


.services-content h3 {
    position: relative;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 35px;
    margin: 20px 0;
}

.services-content p {
    position: relative;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 20px;
}

.service-logo {
    height: 40vh;
    max-width: 50vh;
    margin-top: 5rem;
    margin-bottom: -4rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 0 0 0;
}

.check-list {
    margin: 0;
    padding-left: 1.2rem;
}

.check-list li {
    position: relative;
    list-style-type: none;
    padding-left: 2.5rem;
    margin-bottom: 0.5rem;
}

.check-list li:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: -2px;
    width: 10px;
    height: 22px;
    border-width: 0 4px 4px 0;
    border-style: solid;
    border-color: #f7890c;
    transform-origin: bottom left;
    transform: rotate(45deg);
}


.card {
    background: transparent;
    backdrop-filter: blur(2px) brightness(1.2);
}

.card-body span {
    font-size: .8rem;
    font-weight: 500;
    line-height: 35px;
    margin: 20px 0;
}

.card-check-list {
    margin: 0;
    padding-left: 1.2rem;
}

.card-check-list li {
    position: relative;
    list-style-type: none;
    font-size: .8rem;
    padding-left: .5rem;
    
    margin-bottom: 0.5rem;
}

.card-check-list li:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: -2px;
    width: 6px;
    height: 11px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #f7890c;
    transform-origin: bottom left;
    transform: rotate(45deg);
}

.apps-icon{
    margin: auto 0 auto 0;
}