@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  /* background: #ededed; */
  color: #ededed;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background-color: rgb(8, 27, 41,0.8);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    animation: showRight 1s ease forwards;
    animation-delay: 0.2s;
}

.navbar a {
    font-size: 18px;
    display: inline-block;
    margin-left: 35px;
    text-decoration: none;
    color: #ededed;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

.home {
    height: 100vh;
    width: 100%;
    background: url("../images/home2.avif") no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    animation: showRight 1s ease forwards;
    animation-delay: 1.2s;
}

.home-content {
    max-width: 600px;
    position: relative;
}

.home-content h1 {
    position: relative;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
}

.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    animation: showRight 1s ease forwards;
    animation-delay: 0.7s;
}

.home-content h3 {
    position: relative;
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    margin: 20px 0;
}

.home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    animation: showRight 1s ease forwards;
    animation-delay: 0.7s;
}

.home-content p {
    position: relative;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 20px;
}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    width: 345px;
    justify-content: space-between;
    height: 50px;
}

.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
    z-index: 2;
}


.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.btn-box a:hover{
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover {
    color: #000000;
}

.btn-box a:nth-child(2)::before{
    background: #00abf0;
}

.btn-box a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #000000;
    z-index: -1;
    border-radius: 8px;
    transition: 0.5s;
}

.btn-box a:hover::before{
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    background: transparent;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    color: #00abf0;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s;
    z-index: 1;
    overflow: hidden;
    
}

.home-sci a:hover {
    color: #000000;
}

.home-sci a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    border-radius: 50%;
    transition: 0.5s;
}

.home-sci a:hover::before{
    width: 100%;

}

/* .home-imgHover{
    position: absolute;
    top: 0;
    right: 30px;
    width: 500px;
    height: 100%;
    background: transparent;
    transition: 3s;
}

.home-imgHover:hover{
    background: #000000;
    opacity: 0.8;
} */


.about{
    background: linear-gradient(-45deg, #100519,#5f00be , #0b00a0) ;
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100vh;
}

.footer{
    padding: 0 0 10%;
}
/* KEYFRAMES ANIMATION */
@keyframes showRight {
    100%{
        background: transparent;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
